body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    cursor: none !important;
    background-color: black;
}

#slidesContainer {
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
}

#pdfContainer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
}

#youtubePlayerContainer {
    position: absolute;
    z-index: 2;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

#localVideoContainer {
    position: absolute;
    z-index: 3;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
}
